#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define PIN_MACRO(name, pin) \
/ { \
    macros { \
        name: name { \
            compatible = "zmk,behavior-macro"; \
            wait-ms = <5>; \
            tap-ms = <5>; \
            #binding-cells = <0>; \
            bindings = <&kp P &kp I &kp N &kp SPACE>, pin, <&kp ENTER>; \
        }; \
    }; \
};
// label == silkscreen marking on ProMicro NRF52840
// pin0 == label 008
// pin1 == label 006
// pin2 == label 017
// pin3 == label 020
// pin4 == label 022
// pin6 == label 100
// pin7 == label 011
// pin8 == label 104
// pin9 == label 106
// pin10 == label 009
// pin14 == label 111
// pin15 == label 113
// pin16 == label 010
// pin18 == label 115
// pin19 == label 002
// pin20 == label 029
// pin21 == label 031
// non utilisées : pin label 101, 102, 107

PIN_MACRO(pin0, <&bt BT_CLR>)
PIN_MACRO(pin1, <&kp N1>)
PIN_MACRO(pin2, <&kp N2>)
PIN_MACRO(pin3, <&kp N3>)
PIN_MACRO(pin4, <&kp N4>)
PIN_MACRO(pin5, <&kp N5>)
PIN_MACRO(pin6, <&kp N6>)
PIN_MACRO(pin7, <&kp N7>)
PIN_MACRO(pin8, <&kp N8>)
PIN_MACRO(pin9, <&kp N9>)
PIN_MACRO(pin10, <&kp N1 &kp N0>)
PIN_MACRO(pin14, <&kp N1 &kp N4>)
PIN_MACRO(pin15, <&kp N1 &kp N5>)
PIN_MACRO(pin16, <&kp N1 &kp N6>)
PIN_MACRO(pin18, <&kp N1 &kp N8>)
PIN_MACRO(pin19, <&kp N1 &kp N9>)
PIN_MACRO(pin20, <&kp N2 &kp N0>)
PIN_MACRO(pin21, <&kp N2 &kp N1>)

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&pin0
                        &pin1
                        &pin2
                        &pin3
                        &pin4
                        &pin5
                        &pin6
                        &pin7
                        &pin8
                        &pin9
                        &pin10
                        &pin14
                        &pin15
                        &pin16
                        &pin18
                        &pin19
                        &pin20
                        &pin21>;
        };
    };
};



